{
	"lap_ses": {
	},

	"position": {
		// char for previous car
		"down_arrow": "\u25bc",
		// char for for current camera car
		"square": "\u25a0",
		// char for next car
		"up_arrow": "\u25b2",

		// position template
		// {0} - last/best time
		// {1} - up/square/down char
		// {2} - class position
		// {3} - car number
		// {4} - license class
		// {5} - safety rating
		// {6} - iRating
		// {7} - name
		"position_tmpl": "{0:>15} {1} {2:3} #{3:>3}{4:>2}{5} iR{6:>4} {7}"
	},

	"speed_rpm": {
		// rpm will build with this chars
		"blocks": [
			" ",
			"\u258c",
			"\u2588"
		],
		// char, left-rigth border of rpm
		"vertical_line": "\u2502",

		// speed_rpm template
		// {0} speed in kmph (3.0f mean 3 width to make it right aligned, with 0 numbers after point)
		// {1} speed in mph
		// {2} rpm string (2 vertical lines, and 10 blocks)
		// {3} gear
		// {4} fuel string, see "fuel_tmpl"
		"speed_rpm_tmpl": "{0:3.0f}km/h{2}{3}{4}",

		// fuel template
		// {0} litres (.3f, mean 3 numbers after point)
		// {1} gallons
		"fuel_tmpl": "  Fuel: {0:.3f}l"
	},

	"standing": {
		// maximum lines to show (max + 1 for header)
		"max": 24,

		// When standings more then max, it will split it in two parts
		// window value should be odd (3, 5, 7)
		"window": 5,

		// char to show current camera position
		"right_arrow": "\u25ba",

		// split standings in two parts with this char
		"horizontal_bar": "\u2500"
	},

	"twitch": {
		// Your channel name, case-insensitive
		"channel": "",

		// You can specify access_token, to automagically update you twtich stream status
		//
		// To get access_token:
		// 1. create twitch application here
		//    http://www.twitch.tv/kraken/oauth2/clients/new
		//    Name: doesn't matter
		//    Redirect URL: http://localhost
		// 2. after create application, you will get "Client ID"
		// 3. replace <CLIENT_ID> in next url with your own, and go to that url in your browser
		//    https://api.twitch.tv/kraken/oauth2/authorize?response_type=token&client_id=<CLIENT_ID>&redirect_uri=http://localhost&scope=channel_editor
		// 4. you will be redirected to something like this:
		//    http://localhost/#access_token=<ACCESS_TOKEN>&scope=channel_editor
		//    access token is "<ACCESS_TOKEN>", without "&scope..."
		// 5. now you can copy-paste that <ACCESS_TOKEN> value here
		"access_token": "",

		// Viewers/Followers counter template
		// {0} - viewers counter
		// {1} - followers counter
		"viewers_followers_tmpl": "Viewers: {0} Followers: {1}",

		// Latest follower template
		// {0} - latest follower nickname
		"lates_follower_tmpl": "ALL HAIL latest follower: {0}",

		// Stream status template
		// {0} - EventType
		// {1} - CarClassShortName
		// {2} - TrackDisplayName
		// note: will work only with access_token
		// ex: "Race: GT3 @ Suzuka"
		"status_tmpl": "{0}: {1} @ {2}",
		// Stream status when not in simulator
		"status_default": "iRacing"
	}
}
